@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Apply Poppins font globally */
  body {
    font-family: 'Poppins', sans-serif;
  }
}

@layer utilities {
  /* Custom utility classes */
  .img-shadow {
    filter: drop-shadow(40px 50px 25px #0f1115);
  }

  .img-shadow2 {
    filter: drop-shadow(10px 30px 15px #3030307a);
  }

  .input-style {
    @apply px-4 py-2 border-[1px] border-gray-400 rounded-md;
  }

  .primary-btn {
    @apply bg-primary text-white px-5 py-2 text-xl rounded-md hover:bg-primaryDark duration-200;
  }
}
